# Analyse Milan Flugrouten

## Daten importieren und aufbereiten

In [1]:
# Module importieren
import arcgis
import pandas as pd
import os
import arcpy

In [2]:
# csv-Dateien in Pandas Dataframe importieren
milan1211_csv = r'C:\data\projects\EsriKon2020\Demos\Milane\data\Milan_tag1211_mod.csv'
milan1218_csv = r'C:\data\projects\EsriKon2020\Demos\Milane\data\Milan_tag1218_mod.csv'
milan1211_df = pd.read_csv(milan1211_csv)
milan1218_df = pd.read_csv(milan1218_csv)

# einige Daten anzeigen
milan1218_df.head()

   DeviceID  Year  Month  ...  Solarvoltage  Csvlinetype                Timestamp
0      1218  2017      7  ...           0.0           1T  2017-07-05T03:00:25.000
1      1218  2017      7  ...           0.0           1T  2017-07-05T03:02:18.000
2      1218  2017      7  ...           0.0           1T  2017-07-05T03:04:10.000
3      1218  2017      7  ...           0.0           1T  2017-07-05T03:06:18.000
4      1218  2017      7  ...           0.0           1T  2017-07-05T03:08:46.000

[5 rows x 34 columns]

In [3]:
# einige Daten anzeigen
milan1211_df.head()

   DeviceID  Year  Month  ...  Solarvoltage  Csvlinetype                Timestamp
0      1211  2017      7  ...      0.000000           1T  2017-07-02T17:13:58.000
1      1211  2017      7  ...      1.241632           1T  2017-07-03T06:25:55.000
2      1211  2017      7  ...      1.249344           1T  2017-07-03T06:27:44.000
3      1211  2017      7  ...      1.249344           1T  2017-07-03T06:29:43.000
4      1211  2017      7  ...      1.257056           1T  2017-07-03T06:31:43.000

[5 rows x 34 columns]

In [4]:
# Überprüfen, ob es Datensätze mit Null-Werten gibt in den Attributen Lat./Long. und Timestamp
df = milan1211_df # jeweils anpassen
attr = 'Latitude_decimal' # (Latitude_decimal, Longitude_decimal, Timestamp)jeweils anpassen um zu überprüfen, ob ein Attribut Null-Werte beinhaltet
df.loc[df[attr].isnull()]

       DeviceID  Year  Month  ...  Solarvoltage  Csvlinetype                Timestamp
4842       1211  2017      7  ...      1.665792           1T  2017-07-12T12:01:22.000
5290       1211  2017      7  ...      1.303328           1T  2017-07-13T08:57:22.000
8858       1211  2017      7  ...      0.000000           1T  2017-07-19T19:53:22.000
10308      1211  2017      7  ...      0.647808           1T  2017-07-22T14:13:22.000
17742      1211  2017      8  ...      1.449856           1T  2017-08-05T10:01:22.000
22119      1211  2017      8  ...      1.218496           1T  2017-08-14T10:13:22.000
22120      1211  2017      8  ...      1.303328           1T  2017-08-14T10:15:22.000
30973      1211  2017      8  ...      0.000000           1T  2017-08-30T17:21:22.000
36512      1211  2017      9  ...      1.388160           1T  2017-09-10T06:11:22.000
40836      1211  2017      9  ...      0.902304           1T  2017-09-19T06:07:22.000
42874      1211  2017      9  ...      0.000000           1T  2017-09-22T20:03:22.000

[11 rows x 34 columns]

In [5]:
# Detailliertere Angaben zu den Attributen mit Null-Werten
null_values_count = df.loc[df[attr].isnull()].shape[0]
print('Attribut: ' + attr)
print('Datensätze mit Null-Werten: ' + str(null_values_count))
print('Total: '+ str(len(df)))
null_values_perc = null_values_count*100/len(df)
print('prozentualer Anteil: ' + str(null_values_perc))

Attribut: Latitude_decimal
Datensätze mit Null-Werten: 11
Total: 42955
prozentualer Anteil: 0.02560819462227913

In [6]:
# Attribute mit Null-Werten aus dem DataFrame entfernen
# so neu definierter DataFrame hat keine rel. Attribute mit Null-Werten mehr
milan1211_df = milan1211_df.loc[milan1211_df['Latitude_decimal'].notnull()].copy()
milan1218_df = milan1218_df.loc[milan1218_df['Latitude_decimal'].notnull()].copy()

In [7]:
# Nur diejenigen GPS-Punkte verwenden, welche 'Speed nicht gleich 0.0 haben'? > nein, verfälscht das Bild
# milan1218_df = milan1211_df.loc[milan1211_df['Speed'] != 0.0].copy()
# print('Total: '+ str(len(milan1218_df)))

Total: 8249

In [8]:
# Georeferenzierung (neuer DataFrame hat anschliessend Shape-Attribut)
milan1211_df = arcgis.features.GeoAccessor.from_xy(milan1211_df,'Longitude_decimal','Latitude_decimal',sr=4326)
milan1218_df = arcgis.features.GeoAccessor.from_xy(milan1218_df,'Longitude_decimal','Latitude_decimal',sr=4326)
milan1211_df

       DeviceID  ...                                              SHAPE
0          1211  ...  {'x': 7.2100167, 'y': 46.7462583, 'spatialRefe...
1          1211  ...  {'x': 7.2486833, 'y': 46.855645, 'spatialRefer...
2          1211  ...  {'x': 7.2487167, 'y': 46.8559467, 'spatialRefe...
3          1211  ...  {'x': 7.2485333, 'y': 46.8566283, 'spatialRefe...
4          1211  ...  {'x': 7.2485167, 'y': 46.856925, 'spatialRefer...
...         ...  ...                                                ...
42950      1211  ...  {'x': 7.1821667, 'y': 46.7481567, 'spatialRefe...
42951      1211  ...  {'x': 7.182216700000001, 'y': 46.74821, 'spati...
42952      1211  ...  {'x': 7.1822333, 'y': 46.7482367, 'spatialRefe...
42953      1211  ...  {'x': 7.1823, 'y': 46.748123299999996, 'spatia...
42954      1211  ...  {'x': 7.18235, 'y': 46.74814, 'spatialReferenc...

[42944 rows x 35 columns]

In [9]:
# Spatial DataFrame in eine FileGeodatabase schreiben
fgdb = r'Milane_Datenimport.gdb' # jeweils anpassen
fc_milan_name = 'Milan1211' # jeweils anpassen
df = milan1211_df # jeweils anpassen
fc_milan = df.spatial.to_featureclass(os.path.join(fgdb,fc_milan_name))
fc_milan

'C:\\data\\projects\\EsriKon2020\\Demos\\Milane\\Milane_Datenimport.gdb\\Milan1211'